# .gitmodules - MRSNet
#
# SPDX-FileCopyrightText: Copyright (C) 2019 Max Chandler, PhD student at Cardiff University
# SPDX-FileCopyrightText: Copyright (C) 2020-2021, 2023-2024 Frank C Langbein <frank@langbein.org>, Cardiff University
# SPDX-License-Identifier: AGPL-3.0-or-later
[submodule "mrsnet/simulators/fida/FID-A"]
	path = mrsnet/simulators/fida/FID-A
	url = https://github.com/CIC-methods/FID-A.git
	shallow = true
[submodule "mrsnet/qdicom"]
	path = mrsnet/qdicom
	url = https://qyber.black/ca/code-qdicom-utilities.git
	shallow = true
[submodule "data/benchmark"]
	path = data/benchmark
	url = https://qyber.black/mrs/data-megapress-spectra.git
	shallow = true
[submodule "data/basis-dist"]
	path = data/basis-dist
	url = https://qyber.black/mrs/data-mrsnet-basis.git
	shallow = true
[submodule "data/model-dist"]
	path = data/model-dist
	url = https://qyber.black/mrs/data-mrsnet-model-dist.git
	shallow = true
