# .gitignore - MRSNet
#
# SPDX-FileCopyrightText: Copyright (C) 2019 Max Chandler, PhD student at Cardiff University
# SPDX-FileCopyrightText: Copyright (C) 2020-2022 Frank C Langbein <frank@langbein.org>, Cardiff University
# SPDX-FileCopyrightText: Copyright (C) 2022 Zien Ma, PhD student at Cardiff University
# SPDX-License-Identifier: AGPL-3.0-or-later
__pycache__
*.pyc
.idea
venv
cfg.json
data/model
data/sim-spectra
ae_fc_parameters.json
aeq_fc_parameters.json
