# .gitmodules - MRSNet
#
# SPDX-FileCopyrightText: Copyright (C) 2019 Max Chandler, PhD student at Cardiff University
# SPDX-FileCopyrightText: Copyright (C) 2020-2021 Frank C Langbein <frank@langbein.org>, Cardiff University
# SPDX-License-Identifier: AGPL-3.0-or-later
[submodule "mrsnet/simulators/fida/FID-A"]
	path = mrsnet/simulators/fida/FID-A
	url = https://github.com/CIC-methods/FID-A.git
[submodule "mrsnet/qdicom"]
	path = mrsnet/qdicom
	url = git@qyber.black:pca/code-qdicom-utilities.git
[submodule "data/benchmark"]
	path = data/benchmark
	url = git@qyber.black:mrs/data-mrs-megapress-gaba-quantification.git
[submodule "data/basis"]
	path = data/basis
	url = git@qyber.black:mrs/data-mrsnet-basis.git
[submodule "data/model-dist"]
	path = data/model-dist
	url = git@qyber.black:mrs/data-mrsnet-model-dist.git
