argparse>=1.4
gpyopt>=1.2.6
graphviz>=0.19
joblib>=1.1
kaleido>=0.2.1
matplotlib>=3.5
numpy>=1.21
plotly>=5.4
pydicom>=2.2.2
pydot>=1.4.2
pygamma>=4.3.4
requests>=2.26
scipy>=1.7
screeninfo>=0.8
seaborn>=0.11.1
sobol_seq>=0.2
tensorboard>=2.7
tensorflow>=2.7
tqdm>=4.62
urllib3>=1.26.7
